### Build ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.settings/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log

### Environment ###
.env
.env.local
.env.*.local

### Propiedades sensibles ###
src/main/resources/application.properties
src/main/resources/application.yml

### Docker ###
*.pid
docker-compose.override.yml
/data/
